:root{
  --spacing-base:2rem;
  --main-color:#262626;
  --sidebar-color:#1b1d29;
  --secondary-color:#7D7D7D;
}
body{
  background:#E5E5E5;
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  font-size:15px;
}

/* Font classes for easier access in styling */
.rubik{  
  font-family: 'Rubik', sans-serif;
}
.rubik.f300{
  font-weight:300;
}
.rubik.f400{
  font-weight:400;
}
.roboto{  
  font-family: 'Roboto', sans-serif;
}
.roboto.f300{
  font-weight:300;
}
.roboto.f400{
  font-weight:400;
}

/* Bootstrap override */
.col, [class*='col-']{
  padding-left:0;
  padding-right:0;
}
.row{
  margin-left:0;
  margin-right:0;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}
.card{  
  justify-content: center;
  align-content:center;
}
.card.small{
  height:80px;
}
.card-body{
  flex:none;
  display:flex;
  flex-wrap:wrap;
  padding:var(--spacing-base);
}
.card.small .card-body > div{
  margin-right:var(--spacing-base);
}
.nav-link{
  text-align:center;
  padding:0;
}
.form-group {
  margin-bottom: 0;
}
.form-row{
  margin-left:0;
  margin-right:0;
}
.form-row>.col, .form-row>[class*=col-] {
  padding-right:0;
  padding-left:0;
}
.input-group-text{
  border-left:none;
  background:none;
  cursor:pointer;
}
.service-card input[type="text"].form-control{
  border-right:none;
}
/* End bootstrap override */

h2{
  font-size:29px;
  line-height:43px;
  margin-bottom:0;
}
small, label{
  text-transform:uppercase;
  color:var(--secondary-color);
  font-size:11px;
}
p{
  color:var(--secondary-color);
  font-size:15px;
}
.sidebar {
  min-height: 100vh !important;
  z-index: 100;
  padding:calc(var(--spacing-base) / 2);
  background: var(--sidebar-color);
  display:flex;
  flex-direction:column;
}
#sidebar-wrapper{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-height: 100vh !important;
  width: 100vw;
  margin-left:0;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
.sidebar .nav-item{
  margin-bottom:calc( var(--spacing-base) * 1.5);
}
.sidebar .nav-logo{
  margin-bottom:calc( var(--spacing-base) * 4);
}
#page-content-wrapper {
  position:relative;
}
.block-top-summary{
  display:flex;
  flex-direction:column;
  color:var(--main-color);
  font-size:19px;
}
  .block-top-summary span{
    color:var(--secondary-color);
    font-size:13px;
  }
.contentWrapper{
  position:relative;
  min-width: 0;
  width: 100%;
  padding:var(--spacing-base);
  min-height: calc(100vh - 80px) !important; 
  box-sizing:border-box;
}
.btn-reset-wrapper{
  margin-left:calc( var(--spacing-base) / 4 );
}
.service-card{
  margin-top:calc( var(--spacing-base) / 2 );
}
  .service-card .card-body form .col-6:nth-child(1){
    padding-right:calc( var(--spacing-base) / 2 );
  }
  .service-card .card-body form .col-6:nth-child(2){
    padding-left:calc( var(--spacing-base) / 2 );
  }

.footer{
  box-sizing:border-box;
  position:absolute;
  bottom:var(--spacing-base);
  width:calc( 100% - calc(var(--spacing-base) * 2) );
  text-align:right;
}